<div class="container mt-5">
    <h2>Create New Product</h2>

    <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
        <div class="mb-3">
            <label for="name" class="form-label">Product Name</label>
            <input type="text" id="name" class="form-control" formControlName="name">
            <div *ngIf="productForm.get('name')?.invalid && productForm.get('name')?.touched" class="text-danger">
                Product name is required.
            </div>
        </div>

        <div class="mb-3">
            <label for="version" class="form-label">Version</label>
            <input type="text" id="version" class="form-control" formControlName="version">
            <div *ngIf="productForm.get('version')?.invalid && productForm.get('version')?.touched" class="text-danger">
                Version is required.
            </div>
        </div>

        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea id="description" class="form-control" formControlName="description" rows="3"></textarea>
            <div *ngIf="productForm.get('description')?.invalid && productForm.get('description')?.touched"
                class="text-danger">
                Description is required.
            </div>
        </div>

        <!-- <div class="mb-3 form-check">
            <input type="checkbox" id="isActive" class="form-check-input" formControlName="isActive">
            <label for="isActive" class="form-check-label">Is Active</label>
        </div> -->

        <button type="submit" class="btn btn-primary" [disabled]="productForm.invalid">Create Product</button>
    </form>
</div>